  body {
    padding: 20px;
    background-color: black;
  }
  h1#toph1 {font-family: 'Special Elite', cursive; color: #ffffff; margin-left:5px;}
  div#header {
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #1e5799 21%, #7db9e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(21%,#1e5799), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  #1e5799 21%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #1e5799 21%,#7db9e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #1e5799 21%,#7db9e8 100%); /* IE10+ */
    background: linear-gradient(45deg,  #1e5799 21%,#7db9e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    margin-top:-40px;
    margin-left:-20px;
    margin-right:-20px;
    width="100%";
  }
  div#viewer {
    padding:0px;
    height:calc(100vh - 69px);
    margin-top:0px;
    margin-left:-20px;
    margin-bottom:-20px;
    margin-right:-20px;
    width:calc(100%+60px);
    background-color:black;
    overflow-y:hidden;
  }
#wrapper {
    padding-left: 0;
    margin-right: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled {
    padding-left: 300px;
}
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 300px;
    width: 0;
    height:calc(100vh - 69px);
    margin-left: -300px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
    width: 300px;
}
#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 0px;
}
#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: 0px;
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 300px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}
.sidebar-nav div {
    margin-top:20px;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:20px;
    text-decoration: none;
    color: #ffffff;
    
}
.sidebar-nav div a {
    text-decoration: none;
    color: #ffffff;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}